.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__image {
    width: 100%;

    @media screen and (min-width: 768px) {
      height: 445px;
      object-fit: cover;
    }
  }
}
