@use '../core/mixins.scss' as *;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 84%;

  h1 {
    color: white;
    font: rem(45) 'Fraunces';
    text-transform: uppercase;
    letter-spacing: 5px;
    max-width: 10ch;
    text-align: center;
    margin-top: -70px;

    @media screen and (min-width: 768px) {
      max-width: unset;
      font-size: rem(50);
    }
  }

  img {
    margin-top: rem(50);
    width: 36px;
  }
}