*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, 
a, 
input, 
textarea, 
select {
  &:focus {
    outline: red 2px dashed;
  }
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

#page-hero-wrapper {
  background: url('../../assets/mobile/image-header.jpg') no-repeat center;
  background-size: cover;
  height: 540px;
}